.parent{
    background-color: blue;
    padding: 10px;
}

.child-one{
    background-color: yellow;
}

.child-two{
    background-color: red;
}

.child-three{
    background-color: pink;
}

.child text{
color: white;
}